<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044400933343-ia16mhnjnsfa2bgs73utpshb3oaa5plb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044400933343-ia16mhnjnsfa2bgs73utpshb3oaa5plb</string>
	<key>API_KEY</key>
	<string>AIzaSyBWujfhxwIxRBt2SR9BeDuWGhHwz3ELAkY</string>
	<key>GCM_SENDER_ID</key>
	<string>1044400933343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rostyslavsysenko.vastermind</string>
	<key>PROJECT_ID</key>
	<string>mastermind-dcbb6</string>
	<key>STORAGE_BUCKET</key>
	<string>mastermind-dcbb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044400933343:ios:f196fec015d7a2b4ad5c6a</string>
	<key>DATABASE_URL</key>
	<string>https://mastermind-dcbb6.firebaseio.com</string>
</dict>
</plist>